<!DOCTYPE html>
<html>
<head>
    <title>Image Saved</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Image Saved</h1>
        <p class="text-center">The following image from the query "{{ query }}" has been saved:</p>
        <div class="text-center">
            <img src="{{ image_url }}" alt="Saved Image" class="img-thumbnail mb-3">
        </div>
        <div class="text-center">
            <a href="/search" class="btn btn-info">Back to Search</a>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
